<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Github Data</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<table>
    <thead class="table">
    <tr>
        <th>Name</th>
        <th>Public Repos</th>
        <th>Followers</th>
        <th>Following</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>{{ github_data.name }}</td>
        <td>{{ github_data.public_repos }}</td>
        <td>{{ github_data.followers }}</td>
        <td>{{ github_data.following }}</td>
    </tr>
    </tbody>
</table>


<ul>
    <li>{{ github_data.name }}</li>
    <li>{{ github_data.public_repos }}</li>
    <li>{{ github_data.followers }}</li>
    <li>{{ github_data.following }}</li>
    <li><a href="{{ github_data.html_url }}">Go to profile</a></li>
</ul>

</body>
</html>