{% extends 'snippets/base.html' %}

{% block content %}

    <h1>{{ post.title }}</h1>
    <small>{{ post.author.username }} {{ post.published_date|date:"F d, l, Y - h A" }}</small>
    <p>{{ post.body }}</p>

    <div class="row">
        <div class="col-md-6">
            <form action="{% url "add_comment" %}" method="post">
                {% csrf_token %}
                <input type="email" placeholder="Enter email address" name="email" class="form-control">
                <textarea name="comment_body" id="" cols="10" rows="5" class="form-control"></textarea>
                <input type="hidden" name="post_id" value="{{ post.id }}">
                <input type="submit" class="btn btn-secondary" value="Comment">
            </form>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="container">
            <div class="col-md-6">
                Comments:
                {% for each_comment in comments %}
                    By: {{ each_comment.email }}<br>
                    Comment: {{ each_comment.comment_body }}
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}